header {
  display: flex;
  gap: 1rem;
  background-color: lightblue;
  nav ul{
    margin: 0;
    gap: .5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
  }
}